include doc/source/*.rst
recursive-include doc/source */*.rst
recursive-include doc/source */*/*.rst
recursive-include rooms_booking/website */static *
recursive-include rooms_booking/website */templates *
